#VS Code
*.vscode
*.json

#Main folder
bin/*
obj/
*.csproj

#\obj\Debug\net8.0
*.dll
*.AssemblyAttributes
*.AssemblyInfo
*.cache
*.FileListAbsolute
*.GeneratedMSBuildEditorConfig
*.g
*.pdb
apphost

#\obj
*.dgspec
*.props
*.targets
*.assets

#Folders
[0-9][0-9][0-9][0-9]/*
![0-9][0-9][0-9][0-9]/*.cs